.DS_Store
/node_modules/
/workers/node_modules/
/localMode/node_modules/
/e2e/node_modules/

# React Router
/.react-router/
/build/

.env

# Adapters
/app/modules/storage/storage.ts

# tmp
/tmp
/workers/tmp
/.env.test
/coverage/
/volume/
/storage

# Playwright
/e2e/.auth/
/e2e/playwright-report/
/e2e/test-results/
