# .github/workflows/add-to-project.yml
# This workflow automatically adds newly created issues to your "Support" project board.

name: "Auto-add new issues to Support Board"

on:
  issues:
    types: [opened]

jobs:
  add-to-project:
    name: "Add issue to Support project"
    runs-on: ubuntu-latest
    
    steps:
      - name: "Add to project"
        uses: actions/add-to-project@v1.0.2
        with:
          project-url: https://github.com/orgs/National-Tutoring-Observatory/projects/24
          github-token: ${{ secrets.ORG_PROJECT_TOKEN }}
